body {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Allows wrapping for small screens */
}

.logo {
    width: 20vw; /* Responsive width based on viewport width */
    max-width: 150px; /* Maximum width for larger screens */
    margin-right: 1rem; /* Adjusted for responsiveness */
}

h1 {
    font-size: 5vw; /* Responsive font size based on viewport width */
    margin: 0; /* Ensure there's no extra margin affecting layout */
}

#dots {
    display: inline-block;
    font-weight: 700;
    font-size: 5vw; /* Responsive font size based on viewport width */
    width: 3rem; /* Fixed width to accommodate dots */
    text-align: left;
}

@media (max-width: 600px) {
    .logo {
        width: 25vw; /* Adjusted width for smaller screens */
        max-width: 100px; /* Smaller maximum width for mobile */
    }

    h1 {
        font-size: 6vw; /* Larger font size on smaller screens */
    }

    #dots {
        font-size: 6vw; /* Larger font size on smaller screens */
        width: 4rem; /* Adjusted width for larger dots */
    }
}
